html, .pictures {
    background-color: black;
    min-width: 390px;
    min-height: 100vh;
}

.container-fluid {
    padding: 0;
}

h4 {

    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
}

.marginHeader {
    padding-left: 15px;
    margin-bottom: 10vh;
}

.slideHeaders {

    margin-top: 00px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
    
}

.carousel-item {
    background-color: white;
    /* position: relative; */
}

.vh-50 {
    height: 55vh;
}


.mask {
    position: absolute; 
    width: 100%;
    opacity: 1;
}