html,
body {
    width: 100%;
    min-width: 390px;
    min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y;

}

.colMargin {
    margin-top: 20px;
}

.marginHeader {
    margin-bottom: 12vh;
}

.horosSelect {
    width: 100%;
    min-height: 100vh;
    /* background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */
}

.enterDate {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.horosResp {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.fondoSunMoon {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.fondoEarthPic {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.fondoOther {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

/* ======================================= */

h4 {

    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
}

h1 {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 38px;
    padding-bottom: 40px;
    border-bottom: solid 1px #d34040;
}

.zod {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 30px;
}



/* ======================================= INSTRUCTIONS SLIDE*/

.horoImg:hover {
    opacity: 1;
}

.horoImg  {
    opacity: 0.5;
}

/* ======================================= ENTER DATE SLIDE*/

#bdayText {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    width: 140px;
    margin-bottom: 10px;
}

#signSelImg {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
}

#enterDateForm {
    display: block;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
}

#enterDateInput {
    max-width: calc(100% - 50px);
    margin-top: 10px;
    border: solid 2px black;
    border-radius: 7px;

}

#enterDateGo {
    width: 45px;
    margin-top: 10px;
    background-color: white;
    border: solid 2px black;
    border-radius: 7px;
}



/* ======================================= HOROSCOPE INFO SLIDE*/


#horoText {

    margin-top: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#constellation {
    max-width: 100%;
    height: auto;
}

#horoSigno {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
}

.horoscopeTextBold {
    font-weight: 800;
    font-style: italic;
}

/* ======================================= NAVIGATION ARROWS*/


#arrowRight {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}


#arrowLeft {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}