html,
body {
    width: 100%;
    min-width: 390px;
    min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y;

}


/* ======================================= GENERAL FOR SLIDES*/

.container-fluid {
    padding-left:100px;
    padding-right:100px;
}

@media only screen and (max-width: 767px){
    .container-fluid {
        padding-left:20px;
        padding-right:20px;
    }
}

.colMargin {
    margin-top: 20px;
}

.marginHeader {
    margin-bottom: 12vh;
}

.horosSelect {
    width: 100%;
    min-height: 100vh;
    /* background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */
}

.enterDate {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.horosResp {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.chineseEgiptianHoro {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.earthPic {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.solarFlare {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.sunMoon {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.distToPlanets {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}


/* ======================================= GENERAL */

h4 {

    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
}

h1 {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 38px;
    padding-bottom: 40px;
    border-bottom: solid 1px #d34040;
}

.zod {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 30px;
}


/* ======================================= INSTRUCTIONS SLIDE*/

.horoImg:hover {
    opacity: 1;
}

.horoImg  {
    opacity: 0.5;
}


/* ======================================= ENTER DATE SLIDE*/

#bdayText {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    width: 140px;
    margin-bottom: 10px;
}

#signSelImg {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
}

#enterDateForm {
    display: block;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
}

#enterDateInput {
    max-width: calc(100% - 50px);
    margin-top: 10px;
    border: solid 2px black;
    border-radius: 7px;

}

#enterDateGo {
    width: 45px;
    margin-top: 10px;
    background-color: white;
    border: solid 2px black;
    border-radius: 7px;
}


/* ======================================= HOROSCOPE INFO SLIDE*/

#horoText {

    margin-top: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#constellation {
    max-width: 100%;
    height: auto;
}

#horoSigno {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
}

.horoscopeTextBold {
    font-weight: 800;
    font-style: italic;
}



/* ======================================= CHINESE EGIPTIAN HORO*/

#china {
    margin-top: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
    
}

#chinaHeader {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#matchingChineseSign {
    margin-top: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    float: left;
     
}

#egypt {
    margin-top: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
    
}

#matchingEgiptianSign {
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    
     
}

#egiptianHeader {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

.luck {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}



/* ======================================= EARTH PIC SLIDE*/

#earthPicHeader {
   
    margin-top: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
    

}

#earthPic{
    margin-top: 35px;
}


/* ======================================= SOLAR FLARE SLIDE*/

#flareText {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#solarFlare {
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    margin-top: 65px;
}


/* ======================================= DISTANCE TO PLANETS SLIDE*/

.sunMoonHeader {
    margin-top: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
    
}

.sunnyMoony {
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
   
    
}


/* ======================================= DISTANCE TO PLANETS SLIDE*/

#distToPlanetText {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#distToPlanetsHead {
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    margin-top: 65px;
}


/* ======================================= NAVIGATION ARROWS*/


.arrowRight {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}


.arrowLeft {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}
