html,
body {
    width: 100%;
    min-width: 390px;
    min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y;

}


/* ======================================= GENERAL FOR SLIDES*/

.container-fluid {
    padding-left:70px;
    padding-right:70px;
}

@media only screen and (max-width: 960px){
    .container-fluid {
        padding-left:50px;
        padding-right:50px;
    }
}

@media only screen and (max-width: 767px){
    .container-fluid {
        padding-left:30px;
        padding-right:30px;
    }
}

.colMargin {
    margin-top: 00px;
}

.marginHeader {
    margin-bottom: 10vh;
}

.horosSelect {
    width: 100%;
    min-height: 100vh;
    /* background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */
}

.enterDate {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.horosResp {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.chineseEgiptianHoro {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.earthPic {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.solarFlare {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.sunMoon {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}

.yourAsteroids {
    display: none;
    width: 100%;
    /* min-height: 100vh;
    background-image: url(../images/Fondos/fondo.png);
    background-size: 100%;
    background-repeat: repeat-y; */

}


/* ======================================= GENERAL */

h4 {

    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
}

h1 {

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 38px;
    padding-bottom: 40px;
    border-bottom: solid 1px #d34040;
}

.zod {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 30px;
}

.luck {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

.textBoldItalic {
    font-weight: 800;
    font-style: italic;
}

.slideHeaders {

    margin-top: 00px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
    
}

/* ======================================= INSTRUCTIONS SLIDE*/

.horoImg  {
    opacity: 0.5;
    max-width: 150px;
}

.horoImg:hover {
    opacity: 1;
}

.contForSignsPics {
    padding: 0px 5px;
}

.instructions {
    padding-right: 35px;
}

@media only screen and (max-width: 767px){
    .instructions {
        padding-right: 15px;
    }
}


/* ======================================= ENTER DATE SLIDE*/

#bdayText {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

#enterDateForm {
    display: block;
    /* margin-left: 50%; */
    margin-top: 10px;
    /* transform: translateX(-50%); */
}

#enterDateInput {
    width: calc(100% - 45px);
    max-width: 200px;
    margin-top: 10px;
    border: solid 0px black;
    border-radius: 7px;
    font-size:16px;
    padding: 0;
    height: 25px;

}

#enterDateGo {
    width: 35px;
    margin-top: 10px;
    background-color: white;
    border: solid 0px black;
    border-radius: 7px;
    font-size:16px;
    padding: 0;
    height: 25px;
}

#horoscopeInputImage {
    margin-bottom: 50px;
    width: 80%;

}

#exampleModalCenter {
    background-image: url(../images/Fondos/universe.jpg);
}

.modal-content {
    background-color: transparent;
    color: white;
    border: 0;
}

.modal-header {
    margin-top: 00px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
}

.modal-title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
}

.close {
    color: white;
}


/* ======================================= HOROSCOPE INFO SLIDE*/

#horoText {

    margin-top: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#constelImgCont {
    padding: 0 5px;
}

#constellation {
    max-width: 100%;
    height: auto;
}

.horoscopeTextBold {
    font-weight: 800;
    font-style: italic;
}


/* ======================================= CHINESE EGIPTIAN HORO*/

#chinaHeader {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#matchingChineseSign {
    margin-top: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    float: left;
     
}

#chineseHoroInfo, #egiptianHoroInfo {
    margin-bottom: 35px;
}

#matchingEgiptianSign {
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    
     
}

#egiptianHeader {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#chineseHoroInfo {
    padding-right: 30px;
}

@media only screen and (max-width: 767px){
    #chineseHoroInfo {
        padding-right: 15px;
    }
}

#egiptianHoroInfo {
    padding-left: 30px;

}

@media only screen and (max-width: 767px){
    #egiptianHoroInfo {
        padding-right: 15px;
    }
}


/* ======================================= EARTH PIC SLIDE*/

#earthPicHeader {
   
    margin-top: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
    

}

#earthPic{
    margin-top: 35px;
    clip-path: circle(39% at center);
}


/* ======================================= SOLAR FLARE SLIDE*/

#flareText {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#solarFlare {
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    margin-top: 0px;
}


/* ======================================= SUN MUN INFO SLIDE*/

.sunMoonHeader {
    margin-top: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    text-align: center;
    
}

.sunnyMoony {
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
   
    
}


/* ======================================= YOUR ASTEROIDS SLIDE*/

#yourAsteroidsText {
    
    margin-top:10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
}

#yourAsteroids {
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 28px;
    padding-bottom: 20px;
    border-bottom: solid 1px #d34040;
    margin-top: 0px;
}

#astInfo {
    padding: 0 15px;
}

.subHeaders {

    margin-top: 00px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 10px 0;
    text-align: left;
    
}

/* ======================================= NAVIGATION ARROWS*/

.arrowRight {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.arrowLeft {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}
